.products__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.products__item{
    padding: 10px;
    border: 1px solid sandybrown;
}

.restaurants{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}


.category{
    background: yellow;
    padding: 5px 20px ;
    cursor: pointer;
}


.category:hover {
    color: blue;
}
.restaurantDisable{
    background: #454444;
    position: relative;   
}
.restaurantDisable ::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(72, 70, 70, 0.245);
    position: absolute;
    top: 0;
    left: 0;
    cursor: not-allowed;
}
.restaurantDisable> div{
    cursor: none;
}
.active{
    background: red;
}

.products__list{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 10px;
    justify-content: space-between;
}
.products__item{
    width: 150px;
}
.products_img{
    width: 100%;
}