.header{
    display: flex;
    justify-content: space-around;
    background: rgb(246, 235, 132);
    align-items: center;

}
.header>ul{
    display: flex;
    list-style: none;
    gap: 20px;
    cursor: pointer;
}